body {
    margin: 0px;
    padding: 0px;
    background-image: url("img/8c01afe36cafd5710fec89061f8c01cb.jpg");
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(239, 213, 173, 0.65);
    min-height: 50%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

nav {
    width: 100%;
    float: right;
}

.header {
    background-color: #2e090a;
    padding: 10px 20px;
}

.menu {
    float: right;
    display: flex;
    align-items: center;
}

.header a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.main-heading {
    display: flex;
    align-items: center;
    margin: auto;
}

.main-heading h1 {
    font-size: 58px;
    text-align: center;
    margin-top: 59px;
}

.main-heading p {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

#navig {
    background-color: rgba(239, 213, 173, 0.65);
    width: 360px;
    border-radius: 15px;
    text-align: center;
    padding: 3px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 23px;
}

#navig ul {
    list-style-type: none;
}

table {
    overflow: auto;
    border-collapse: collapse;
    border-radius: 15px;
    background: linear-gradient(45deg, #c04f03, #591f06);
    text-align: center;
    margin-bottom: 30px;
}

.tname {
    background-color: rgba(239, 213, 173, 0.65);
    font-weight: 900;
    font-size: 30px;
}

td:nth-child(odd) {
    background: linear-gradient(45deg, #e86813, #531d05);
}

tr:nth-child(odd) {
    background: linear-gradient(45deg, #e86813, #531d05);
}

td,
th {
    text-align: left;
    border-radius: 15px;
    padding: 10px;
}

th {
    text-align: center;
}

.wrapper {
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
}

.form {
    margin: none;
    padding: none;
    display: flex;
    align-items: flex-start;
}

input,
textarea,
select {
    border: none;
    border-radius: 10px;
    height: 25px;
}

textarea {
    height: 40px;
}

.form-content {
    max-width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
}

footer {
    width: 100%;
    max-height: 33%;
    background: #2e090a;
    padding-top: 30px;
}

.footer {
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    margin: auto;
    text-align: center;
}

.fc-num2,
.fc-num3 {
    display: none;
}

.footer-content p {
    max-width: 190px;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    padding: 0%;
}

.list {
    padding: 0;
}

.social-icons {
    padding: 0;
}

.list li {
    width: auto;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f18930;
}

.social-icons li {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.social-icons i {
    color: white;
    font-size: 25px;
}

.social-icons i:hover {
    color: #f18930;
}

.footer-battom {
    background: #d26e18;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.footer-battom p {
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

@media screen and (min-width: 500px) {
    .main-heading h1 {
        font-size: 90px;
        text-align: center;
    }

    .wrapper {
        width: 50%;
    }

    .fc-num2,
    .fc-num3 {
        display: block;
    }

    .nav {
        max-width: 960px;
    }
}

/*.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  padding: 7px;
  background: #f18930;
  transition-duration: 0.5s;
}
.list li:hover::before {
  width: 70px;

}*/
